CREATE DATABASE QLDUAN

GO

USE QLDUAN

GO

CREATE TABLE NHANVIEN (
	MANV VARCHAR(10) NOT NULL,
	HONV NVARCHAR(20) NOT NULL,
	TENNV NVARCHAR(20) NOT NULL,
	NGSINH DATE,
	GIOITINH NVARCHAR(10),
	LUONG INT,
	DIACHI NVARCHAR(60),
	MANGS VARCHAR(10),
	MADV VARCHAR(10),
	CONSTRAINT CK_GIOITINH CHECK (GIOITINH=N'NAM' OR GIOITINH=N'NỮ'),
	PRIMARY KEY(MANV)
)

GO

CREATE TABLE THANNHAN(
	MANV VARCHAR(10) NOT NULL,
	TENTN NVARCHAR(20) NOT NULL,
	NGSINH DATE,
	GIOITINH NVARCHAR(10),
	CONSTRAINT CK_GIOITINHTN CHECK (GIOITINH = N'NAM' OR GIOITINH = N'NỮ'),
	PRIMARY KEY(MANV, TENTN)
)

GO

CREATE TABLE DONVI (
	MADV VARCHAR(10) NOT NULL,
	TENDV NVARCHAR(20) NOT NULL,
	DDIEM NVARCHAR(60),
	PRIMARY KEY(MADV)
)

GO

CREATE TABLE QUANLY(
	MANV VARCHAR(10) NOT NULL,
	MADV VARCHAR(10) NOT NULL,
	NGAYBATDAU DATE,
	PRIMARY KEY(MANV, MADV)
)

GO

CREATE TABLE DUAN(
	MADA VARCHAR(10) NOT NULL,
	TENDA VARCHAR(10) NOT NULL,
	DDIEM NVARCHAR(60),
	MADV VARCHAR(10) NOT NULL,
	PRIMARY KEY(MADA)
)

GO

CREATE TABLE PHANCONG(
	MANV VARCHAR(10) NOT NULL,
	MADA VARCHAR(10) NOT NULL,
	SOGIO FLOAT,
	PRIMARY KEY(MANV, MADA)
)

GO

ALTER TABLE NHANVIEN ADD CONSTRAINT FK_MADV_NV FOREIGN KEY(MADV) REFERENCES DONVI(MADV)

GO

ALTER TABLE NHANVIEN ADD CONSTRAINT FK_MANQL FOREIGN KEY(MANGS) REFERENCES NHANVIEN(MANV)

GO

ALTER TABLE THANNHAN ADD CONSTRAINT FK_MANV_TN FOREIGN KEY(MANV) REFERENCES NHANVIEN(MANV)

GO

ALTER TABLE QUANLY ADD CONSTRAINT FK_MANV_QL FOREIGN KEY(MANV) REFERENCES NHANVIEN(MANV)

GO

ALTER TABLE QUANLY ADD CONSTRAINT FK_MADV_QL FOREIGN KEY(MADV) REFERENCES DONVI(MADV)

GO

ALTER TABLE DUAN ADD CONSTRAINT FK_MADV_DA FOREIGN KEY(MADV) REFERENCES DONVI(MADV)

GO

ALTER TABLE PHANCONG ADD CONSTRAINT FK_MANV_PC FOREIGN KEY(MANV) REFERENCES NHANVIEN(MANV)

GO

ALTER TABLE PHANCONG ADD CONSTRAINT FK_MADA_PC FOREIGN KEY(MADA) REFERENCES DUAN(MADA)

GO

